.carousel-container {
    width: 100vw;
    margin: 0 auto; /* Center the carousel */
    height: 30vh; /* Or a percentage height, or leave it to auto if you want the height to be determined by content */
    max-width: 1200px; /* Optional max-width */
  }
  
  .carousel-inner {
    height: 100%; /* Make sure carousel inner fills container height */
  }
  
  .carousel-item {
    height: 100%; /* Make sure carousel items fill container height */
  }
  
  .carousel-item img {
    object-fit: contain; /* or contain, depending on your needs */
    height: 75vh; /* Make sure the image fills the carousel item */
    width: 100%;
  }

  .movie-list-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }