<div class="search-container">
  <div class="input-wrapper">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search..."
      (keyup.enter)="searchMovies()"
    />
    <button (click)="searchMovies()" *ngIf="searchTerm"></button>
    <button *ngIf="searchTerm" (click)="clearSearch()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
        />
      </svg>
    </button>
  </div>
  <div class="plot-selection">
    <select class="form-select" id="plot" [(ngModel)]="plotLength">
      <option value="full">Full</option>
      <option value="short">Short</option>
    </select>
  </div>
</div>

<div class="movie-list-container">
  <div *ngFor="let movie of movies">
    <app-movie-card [movie]="movie"></app-movie-card>
  </div>
</div>
<ng-container *ngIf="movies.length === 0">
  <app-featured></app-featured>
</ng-container>
