<div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search for a movie">
    <button (click)="searchMovies()">Search</button>
  
    <label for="plotLength">Plot Length:</label>
    <select id="plotLength" [(ngModel)]="plotLength" (change)="togglePlotLength()">
      <option value="full">Full</option>
      <option value="short">Short</option>
    </select>
  
  
    <div *ngFor="let movie of movies">
      <img [src]="movie.Poster" alt="Movie Poster">
      <h3>{{ movie.Title }} ({{ movie.Year }})</h3>
      <p>Type: {{ movie.Type }}</p>
      <p>Rated: {{ movie.Rated }}</p>
      <p>Genre: {{ movie.Genre.split(',').join(', ') }}</p>  <p>Director: {{ movie.Director }}</p>
      <p *ngIf="movie.Plot">{{ movie.Plot.substring(200) }}</p>
      <p>Awards: {{ movie.Awards }}</p>
    </div>
  </div>